<%- include("partials/header.ejs") %>

<div class="container my-5">
<form action="/submit" method="POST">
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">Blog name</span>
    <input type="text" class="form-control" placeholder="Name" aria-label="blogName" aria-describedby="addon-wrapping" name="blogName">
  </div>
    <div class="input-group">
      <span class="input-group-text">Enter text</span>
      <textarea class="form-control" aria-label="blogBody" name="blogBody"></textarea>
    </div>
    <input class="btn btn btn-outline-secondary" type="submit" value="Submit">
  </form>

</div>

  