<%- include("partials/header.ejs") %>

<div class="container my-5 mx-5">
<form action="/submit" method="POST">
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">Blog name</span>
    <input type="text" class="form-control" placeholder="Title" aria-label="title" aria-describedby="addon-wrapping" name="title">
  </div>
    <div class="input-group">
      <span class="input-group-text">Enter text</span>
      <textarea class="form-control" aria-label="content" name="content"></textarea>
    </div>
    <input class="btn btn btn-outline-secondary" type="submit" value="Submit">
  </form>

</div>

  